# Firebase Admin SDK
FIREBASE_PROJECT_ID=sabibeaute-db
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@sabibeaute-db.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=saby2024_CHANGE_MOI
